
@font-face {
  font-family: nhm3;
  src: url("/static/fonts/Nohemi-SemiBold");
}


.btn-primary{
    background-color: #7240ce!important;
    height:3rem;
    border-radius:16px;
    margin-left:15px;
    /* position: absolute; */
}

/* body {
  /* padding-top: 100px;; 
} */


.navbar {
   /* From https://css.glass */
background: rgba(0, 0, 0, 0.34);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px);
border: 1px solid rgba(0, 0, 0, 0.3);
padding-top:-20px;
position:fixed!important;
/* margin-bottom:200px; */
}

.tooltip {
    position: absolute;
}

.navbar-nav{
    gap:0.6rem;
}

svg {
    color:rgba(255, 255, 255, 0.742);
}

.tooltip {
  font-family:nhm3;
  position: absolute;
  top: 90px;
  margin-left:-30px;
  /* right:20px; */
  /* margin-top: -30px; */
  /* right:80px; */
  /* background: aliceblue; */
  padding: 0.5rem 1.5rem;
  /* display: block; */
  border-radius: 7px;
  font-weight: 600;
  background: rgb(60,33,110);
  background: linear-gradient(90deg, rgba(60,33,110,1) 0%, rgba(114,64,206,1) 100%);
  z-index: 3;
  color: white;
  transition:7ms;
  font-family: 'Istok Web';
  font-size:1.1rem;
  opacity:0;
  
}

.navbar a:hover {
  color: white;
  border-radius: 999px;
  padding:12px;
  background-color: #7240ce;
}
.sidenav a:hover path {
  fill:  white;
}




@media (max-width: 575.98px) {
    .navbar{
        position: absolute;
        width:100%;
    }
    .navbar-nav {
        padding-top:10px;
        /* position: fixed; */
        /* bottom: 0px;
        bottom: -10%; */
        /* opacity: 1; */
        /* bottom:-50vh;  */
        /* margin-top:110px; */
        /* left: 0px; */
        flex-direction: row;
        width: 99%;
        height:80px;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        gap:2rem;
        transition: all 0.3s ease-in-out;
        
        
      }
      .nav-item{
        /* position: absolute; */
        /* bottom:0px; */
      }
      .btn-primary{
        position: absolute;
        top:30px;
        /* bottom:0px */
        right:0px;
      }
      .scrolled-down{
        transform:translateY(-100%); transition: all 0.3s ease-in-out;
      }
      .scrolled-up{
        transform:translateY(0); transition: all 0.3s ease-in-out;
      }
    
    
}