
@font-face {
  font-family: nhm3;
  src: url(/fonts/Nohemi-Regular.otf);
}
.box, header {
    max-width: 1140px;
    margin: 2em auto;
    font-family: nhm3;
  }
  .box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 2em;
    row-gap: 2em;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    flex: 0 calc(20% - 1.2em);
    /* background-color: white; */
    background:url(/static/82a7d88a238858264176e65ae184eee8_w200.webp);
    /* background-repeat: no-repeat; */
    background-position: center;
    background: cover;
    padding: 1.6em;
    border-radius: 10px;
    line-height: 1.6;
    /* left: 230px; */
    /* box-shadow: 0 0 10px purple; */
    /* transition: 200ms ease-in; */
    /* transform: perspective(600px) rotateY(-8deg); */
    position: relative;
  }
  
  .item:hover {
    box-shadow: 0 0 20px #7240ce
    /* transform: rotate(1deg); */
  }
  
  .item:after {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 600;
    font-style: italic;
    font-size: 45px;
    letter-spacing: 4px;
    position: absolute;
    top: 6px;
    right: 6px;
    /* transform: rotate(0deg); */
    opacity: 0.4;
  }
  
  .item label {
    font-size: 40px;
    font-family: nhm3;
    color:white;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .item a{
    font-size: 40px;
    color : white;
  }
  .item a.item:hover{
    font-size: 40px;
    color : white;
  }

  section {
    height: auto;
    padding: 3rem;
  }
  .container {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 1300px;
  }
  .title {
    line-height: 1.2;
  }
  .title h1 {
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    color: #7240ce;
    text-align : center;
  }
  .right-side p {
    font-size: 20px;
    font-weight: 400;
    max-width: 600px;
  }


  .center{
    font-size: 70px;
    font-weight: 400;
    max-width: 600px;
    margin-left: 270px;
    margin-bottom:10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
  }
  .team {
    font-size: 15px;
  }
  .doc-info {
    font-size: 20px;
    font-weight: 400;
    justify-content: flex-start;
    text-align: center;
  }


  .line {
    width: 100%;
    background-color: #7240ce;
    height: 2px;
    margin-top: 1rem;
  }
  /* .right-side {
    justify-self: flex-end;
  } */

  .docu{
    margin-top: 30px;
    width:100%;
    height:100%px;
    align-items: center;
  }
  .docu ul{
    gap:10px ;
    display: flex;
    flex-direction: column;
    /* margin-top:80px;
    margin-right:50px; */

    justify-content: center;
    align-items: center;
    /* list-style-type: none; */
  }


.doc-img-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
  .doc-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

  .docu ul li a {
    color: #fff;
    text-decoration:double;
    font-size: 20px;
    font-family: nhm3;
    transition: color 0.3s;
  }
  .docu ul li a:hover {
    color: #7240ce;
  }
  .doc-icon{
    width: 40px;
    height: 45px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 7px;
  }
  .about-section {
    padding: 3rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-right: 2rem;
  }
  .about-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3rem;
  }  
  .about-section h3 {
    /* font-family: "BebasNeue"; */
    padding-left: 0;
    margin-bottom: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: right;
    font-size: 30px;
    margin-top: 5rem;
  }
  
  .about-section p {
    font-size: 1rem;
  }
  .navig-para {
    text-align: justify;
    text-justify: inter-word;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: #000;
    font-family: sans-serif;
    color: #ffffff;
  }
  
  .start {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
  }
  
  .inner-container {
    width: 100vw;
    height: 60%;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: transparent;
    transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) ease-in-out;
  }
  .inner-container .inner-inner-container {
    width: 100%;
    height: 100%;
    /* margin-top: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid #fff;
    /* border-left: 2px solid #fff; */
    /* padding: 20px; */
  }
  .card123 {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  }

  .location{
    width:150px;
    margin-top: 10x;
    margin-left:90px;
    margin-bottom: auto;
    margin-right: auto;
    justify-content: center;

    transition: transform 0.3s ease-in-out;
  }
  .location:hover{
    transform: scale(1.05);
  }
  .location:active{
    transform: scale(0.75);
  }
  .location1{
    width:100px;
    height: 100px;
    justify-content: center;
  }

  
  .card123__content {
    padding: 30px;
    background: rgb(5, 6, 45);
    justify-content: center;
    border-radius: 17px;
    width: 100%;
    height: 100%;
  }
  .card123__heading{
    width:160px;
    margin-top: 15px;
    margin-left:95px;
    font-size: 25px;

    color: #fff;
    font-family: nhm3;
    font-weight: heavy;	
  }

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.docs, .docs1 {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  margin-right:1px;
  margin-bottom:20px;

}
  .top-section h1 {
    font-size: 4.0rem;
    color: #fff;
    font-family: "bm";
    font-weight: heavy;	
    text-transform: uppercase;
    text-align: center;
  }
  .top-section p {
    padding: 0.5rem 0px;
    font-family: "Neutral Face";
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding-left: 2px;
  }
  .inner-container:hover .top-section h1 {
    transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: #7240ce;
  }
  .inner-container:hover .top-section p {
    transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    color: #7240ce;
  }
  
  .inner-container-1:hover {
    background-image: url(/static/socitiesgif.gif);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  
    /* background-color: #fff; */
  }
  
  .inner-container-2:hover {
    background-image: url('/static/636_AdobeExpress.gif')
  }
  
  .inner-container-3:hover {
    background-image: url('/static/black-hole-icegif-7.gif')
  }
  
  .inner-container-4:hover {
    background-image: url('/static/video__360p__AdobeExpress\ \(1\).gif');
    /* background-color: #fff; */
  }
  
  section .start_section {
    padding-bottom: 0rem;
  }
  
  /* .vertical_line {
    background-color: #fff;
    height: 100%;
    width: 10px;
  } */

  @media (max-width:575.98px) {
    .box{
      flex-direction: column;
      
    }
    .item {
      left:0px!important;
    }
  }