<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Academic Blocks</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<link rel="stylesheet" href="/static/CSS/before.css">
	<!-- 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<div class="header" id="header"></div>
	
	<script>
		$(function () {
			$("#header").load("./header.html");
		}); 
	</script> -->
</head>

<body>


	<!-- partial:index.partial.html -->
	<section class="dark">
		<div class="container py-4">
			<h1 class="h1_text-center" id="pageHeaderTitle">Academic Blocks</h1>

			<article class="postcard2 dark blue">
				<a class="postcard2__img_link">
					<img class="postcard2__img" src="/static/Directorate.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title blue">Admin Block</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">The institute's central building stands as the focal point,
						housing the Director's office, the Registrar's office, and serving as the administrative hub of
						the entire institution. Conveniently situated in close proximity, it serves as the go-to
						destination for any individual seeking clarification or assistance regarding administrative
						matters. </div>
				</div>
			</article>

			<article class="postcard2 dark red">
				<a class="postcard2__img_link">
					<img class="postcard2__img" src="/static/b block.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title red">B-Block</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">Situated within the Institute, this building stands as one of
						the oldest and most esteemed academic structures, serving as the designated venue for
						department-specific classes and sessional exams. Opposite G block, this historic edifice holds a
						profound significance in the institution's legacy, symbolizing its rich heritage and academic
						tradition. </div>
				</div>
			</article>
			<article class="postcard2 dark green">
				<a class="postcard2__img_link">
					<img class="postcard2__img" src="/static/TAN.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title green">TAN Building</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">
						TAN Building

						Teaching and Academic Networking is a prestigious and renowned location that serves as a centre
						for various academic endeavours, hosting tutorials for a wide array of subjects. Additionally,
						it also serves as a versatile venue where numerous societies conduct their meetings and organize
						events like hackathons and Model United Nations (MUNs). Its multifunctional nature makes it a
						cherished hub for intellectual and extracurricular activities within the institute. </div>
				</div>
			</article>
			<article class="postcard2 dark blue">
				<a class="postcard2__img_link">
					<img class="postcard2__img" src="/static/LT.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title blue">LT Halls</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">
						The Lecture Theatre, commonly referred to as "LT," is a prominent venue within the institute
						where diverse lectures on various subjects are conducted. With its significantly large seating
						capacity, it accommodates a considerable audience during these academic sessions. Additionally,
						the Lecture Theatre serves as a prestigious platform for hosting guest lectures, further
						enriching the academic environment. </div>
				</div>
			</article>
			<article class="postcard3 dark green">
				<a class="postcard3__img_link">
					<img class="postcard3__img" src="/static/LP.jpg" alt="Image Title" />
				</a>
				<div class="postcard3__text">
					<h1 class="postcard3__title green">LP</h1>

					<div class="postcard3__bar"></div>
					<div class="postcard3__preview-txt">The Lecture Pavilion, known as the "LP," stands as a venue where
						the majority of lectures are held in accordance with the schedule. Adjacent to the LP, there
						lies a spacious and picturesque LP lawn, where students often gather to relax and relish the
						scenic view before or after their classes. This tranquil setting provides an ideal space for
						students to unwind, fostering a conducive learning environment within the institute. </div>

				</div>

			</article>
		</div>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
	<script src="/static/JS/before.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<div class="footer" id="footer"></div>
	<script>
		$(function () {
			$("#footer").load("/templates/footer.html");
		}); 
	</script>

	<!-- partial -->

</body>

</html>