<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HTML 5 Boilerplate</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
</head>

<body>
  <section class="hero-section">
    <div class="team_role">OSC</div>
    <br>
    <div class="card-grid" id="osc">
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Ishnoor.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Ishnoor Singh Kohli, COE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Devashish.png)"></div>
          <div class="card__content">
            <!-- <p class="card__category">Category</p> -->
            <h3 class="card__heading">Devashish Sharma, Biotech</h3>
          </div>
      </a>
    </div>
  </section>



  <section class="hero-section">

    <div class="team_role">CORE TEAM</div>
    <br>
    <div class="card-grid" id="core">
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Mahajan.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Aakarsh Mahajan, ECE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Marwah.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Aakarsh Marwah, CSBS</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Mehta.jpg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Abhimanyu Mehta, COE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Narayanan.jpg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Abhimanyu Narayanan, ELE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Ananya.jpg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Ananya Varshneya, ECE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Armaan.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Armaan Singh, COE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Arushi.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Arushi Dhingra, COPC</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Harman.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Harman Khurmi, COPC</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Ishika.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Ishika Garg, COE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Ishita.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Ishita Bhatnagar, ECE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Lakshya.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Lakshya Gupta, CSBS</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Manan.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Manan Katnoria, COE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Muskan.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Muskan Bhatia, ECE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Swastik.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Swastik Raghav, COE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Tushyaj.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Tushyaj Shubham, ECE</h3>
        </div>
      </a>
      <a class="card">
        <div class="card__background" style="background-image: url(/static/core-photos/Vinayak.png)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Vinayak Soin, ENC</h3>
        </div>
      </a>

    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <div class="header" id="header"></div>
  <script>
      $(function () {
          $("#header").load("./footer.html");
      }); 
  </script>
</body>

</html>