<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Core | Frosh'24</title>
  <link rel="stylesheet" href="../static/CSS/team-page.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>      
  <div class="header" id="header"></div>
  <script>
      $(function () {
          $("#header").load("./header.html");
      }); 
  </script>
</head>

<body>
  <section class="hero-section">
    <div class="team_role">OSC</div>
    <br>

    <div class="card-grid1" id="osc">
      <a class="cards1">
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/Ananya.jpg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Ananya Varshneya, ELE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/Swastik.jpeg)"></div>
          <div class="card__content">
            <!-- <p class="card__category">Category</p> -->
            <h3 class="card__heading">Swastik Raghav, COE</h3>
          </div>
      </a>
    </div>
  </section>

  <section class="hero-section">

    <div class="team_role">CORE TEAM</div>
    <br>
    <div class="card-grid" id="core">
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/abhaybagla.jpeg ) " ></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Abhay Bagla, COE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/AnujPathak.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Anuj Pathak, COE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/anushkatiwari.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Anushka Tiwari, ENC</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/bhavneetkaur.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Bhavneet Kaur, COPC</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/diya.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Diya Wadhawan, TSLAS</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/hritishmahajan.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Hritish Mahajan, CSBS</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/jairajsinghahluwalia.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Jai Raj Singh Ahluwalia, CIE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/KritiGoyal.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Kriti Goyal, BIOTECH</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/kshitizarora.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Kshitiz Aroraa, ENC</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/navanshkrishnagoswami.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Navansh Krishna Goswami, ENC</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/nipun.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Nipun Jain, COE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/OjasKumarSingh.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Ojas Kumar Singh, COE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/pranaymathur.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Pranay Mathur, COE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/ShivamKumar.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Shivam Kumar, ECE</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/shreya.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Shreya Gakhar, CSBS</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/soham.jpg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Soham Bhardwaj, BIOTECH</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/yashikgarg.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Yashik Garg,COPC</h3>
        </div>
      </a>
      <a class="cards">
        <div class="card__background" style="background-image: url(/static/core-photos/yashikagarg.jpeg)"></div>
        <div class="card__content">
          <!-- <p class="card__category">Category</p> -->
          <h3 class="card__heading">Yashika Garg,TSLAS</h3>
        </div>
      </a>
    </div>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <div class="footer" id="footer"></div>
  <script>
    $(function () {
      $("#footer").load("/templates/footer.html");
    }); 
  </script>
</body>

</html>