<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Facilities</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/CSS/facilities.css">
    <!-- <div class="header" id="header"></div>
    <script>
        $(function () {
            $("#header").load("./header.html");
        }); 
    </script> -->
</head>

<body>
    <!-- partial:index.partial.html -->
    <section class="dark">

        <div class="container py-4">
            <h1 class="h1_text-center" id="pageHeaderTitle">Facilities</h1>
            <article class="postcard2 dark green">
                <a class="postcard2__img_link" href="#">
                    <img class="postcard2__img" src="/static/library.jpg" alt="Image Title" />
                </a>
                <div class="postcard2__text">
                    <h1 class="postcard2__title blue"><a href="#">Nava Nalanda Library</a></h1>

                    <div class="postcard2__bar"></div>
                    <div class="postcard2__preview-txt">
                        The Nava Nalanda Central Library is an advanced and well-equipped facility, boasting the latest
                        technological resources. It offers an extensive collection of over 8,000 e-journals, more than
                        200,000 eBooks, 5500+ e-standards, and a selection of 87 print journals, among other valuable
                        resources. The library also provides several group discussion rooms that are furnished with
                        modern technology, creating a conducive environment for collaborative learning and
                        knowledge exchange </div>

                </div>
            </article>
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <!-- <img src="Background.jpg" alt="hi">	 -->
                    <img class="postcard__img" src="#" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#">Activity Space</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        Activity Space is a well-equipped, air-conditioned space that provides students with a
                        comfortable and productive environment for collaboration and teamwork. </div>

                </div>
            </article>
            <article class="postcard dark blue">
                <a class="postcard__img_link" href="#">
                    <!-- <img src="Background.jpg" alt="hi">	 -->
                    <img class="postcard__img" src="/static/dispensary.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#">Dispensary</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">

                        Our health centre is running flawlessly and is available 24/7 on campus which is staffed with
                        doctors and nursing assistants to offer medical aid. Ambulances are on standby to transport
                        patients to the nearest hospitals in Patiala as needed.
                    </div>

                </div>
            </article>
            <article class="postcard2 dark blue">
                <a class="postcard2__img_link" href="#">
                    <img class="postcard2__img" src="/static/atm.jpg" alt="Image Title" />
                </a>
                <div class="postcard2__text">
                    <h1 class="postcard2__title blue"><a href="#">Banks & ATMs</a></h1>

                    <div class="postcard2__bar"></div>
                    <div class="postcard2__preview-txt">Banks and ATMs

                        TIET offers convenient financial services to students and staff with two banks SBI and ICICI;
                        and ATMs from SBI, ICICI, PNB and HDFC located on campus. They are accessible to all the
                        students during their working hours and are located in COS and near Streat Cafe. </div>

                </div>
            </article>
            <article class="postcard3 dark green">
                <a class="postcard3__img_link" href="#">
                    <img class="postcard3__img" src="/static/rickshaw.jpg" alt="Image Title" />
                </a>
                <div class="postcard3__text">
                    <h1 class="postcard3__title green"><a href="#">Rickshaw Facility</a></h1>

                    <div class="postcard3__bar"></div>
                    <div class="postcard3__preview-txt">
                        E-rickshaws are available to help commuters get around campus easily. They charge a fare of Rs
                        10 per head, and accept both cash and digital payments, making it convenient for passengers to
                        pay. </div>

                </div>

            </article>
            <article class="postcard4 dark blue">
                <a class="postcard4__img_link" href="#">
                    <img class="postcard4__img" src="/static/hungerbox.jpg" alt="Image Title" />
                </a>
                <div class="postcard4__text">
                    <h1 class="postcard4__title blue"><a href="#">Hunger Box App
                        </a></h1>
                    <div class="postcard4__bar"></div>
                    <div class="postcard42__preview-txt">Sodexo is the exclusive caterer who has been entrusted for
                        numerous hostels and the canteen on the vast campus of TIET. Sodexo has implemented a new policy
                        that allows users to place digital orders easily through the “HungerBox app”. </div>

                </div>
            </article>
            <article class="postcard3 dark green">
                <a class="postcard3__img_link" href="#">
                    <img class="postcard3__img" src="/static/post office.jpg" alt="Image Title" />
                </a>
                <div class="postcard3__text">
                    <h1 class="postcard3__title green"><a href="#">Post Office</a></h1>

                    <div class="postcard3__bar"></div>
                    <div class="postcard3__preview-txt">
                        The campus has a government-managed post office, India Post, conveniently located near the SBI
                        bank.This reliable centre offers a comprehensive range of postal services, promoting seamless
                        communication and simplifying mailing within the campus community.Its presence plays a crucial
                        role in augmenting convenience, connectivity, and effective communication for individuals on
                        campus. </div>

                </div>

            </article>
            <article class="postcard4 dark blue">
                <a class="postcard4__img_link" href="#">
                    <img class="postcard4__img" src="/static/sports.jpg" alt="Image Title" />
                </a>
                <div class="postcard4__text">
                    <h1 class="postcard4__title blue"><a href="#">Sports Facilities
                        </a></h1>
                    <div class="postcard4__bar"></div>
                    <div class="postcard42__preview-txt">The campus sports facilities include basketball courts,
                        volleyball courts, indoor and outdoor badminton courts, lawn tennis courts, swimming pool,
                        cricket ground, synthetic track, football grounds, and table tennis gears. Also, a sports office
                        is available for providing all the gears and equipment.

                        . </div>

                </div>
            </article>

        </div>
    </section>





    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="/static/JS/facilities.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <div class="footer" id="footer"></div>
    <script>
        $(function () {
            $("#footer").load("/templates/footer.html");
        }); 
    </script>

    <!-- partial -->

</body>

</html>