<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faculty Page</title>
    <link rel="stylesheet" href="/static/CSS/team-page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <div class="header" id="header"></div>
    <script>
          $(function () {
            $("#header").load("./header.html");
          }); 
    </script>
    
  </head>
  
  <body>
  
    <!-- <div>Faculty Advisors</div><br> -->
    <section class="hero-section">
        <div class="team_role">Faculty Advisors</div>
        <div class="card-grid" id="#faculty">
          <a class="cards-faculty cards" >
            <div class="card__background" style="background-image: url(/static/Faculty-images/DevenderKumar\,MEE.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Dr. Devender Kumar, MEE</h3>
            </div>
          </a>
          <a class="cards-faculty cards" >
            <div class="card__background" style="background-image: url(/static/Faculty-images/JaskaranSingh\,MEE.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Dr. Jaskaran Singh, MEE</h3>
            </div>
          </a>
          <a class="cards-faculty cards">
            <div class="card__background" style="background-image: url(/static/Faculty-images/MDsingh\,PresidentFROSH\,EIED.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Dr. MD Singh, President Frosh. EIED</h3>
            </div>
          </a>
        
          <a class="cards-faculty cards" >
            <div class="card__background" style="background-image: url(/static/Faculty-images/TarunpreetBhatia\,CSED.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Dr. Tarunpreet Bhatia, CSED</h3>
            </div>
          </a>
          <a class="cards-faculty cards" >
            <div class="card__background" style="background-image: url(/static/Faculty-images/HemduttJoshi\,ECED.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Dr. Hemdutt Joshi, ECED</h3>
            </div>
          </a>
        <div>
      </section>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <div class="footer" id="footer"></div>
    <script>
      $(function () {
        $("#footer").load("/templates/footer.html");
      }); 
    </script>
	  <script src="/static/JS/index.js"></script>
  </body>
</html>