<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
  <link
    rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
    type="text/css"
  />
  <link href="mapbox://styles/mapbox/streets-v11.html?title=copy&access_token=pk.eyJ1IjoiZGFrc2hhemFkMDUiLCJhIjoiY2w3a3hrMTR1MHY3ZjNubWc3bmhvbmY1bCJ9.LuzspF2JLyMGxFacsacQcA&zoomwheel=true&fresh=true#14.4/30.35285/76.36712">
  </link>
  <link href="mapbox://styles/mapbox/streets-v11.html?title=view&access_token=pk.eyJ1IjoiZGFrc2hhemFkMDUiLCJhIjoiY2w3a3hrMTR1MHY3ZjNubWc3bmhvbmY1bCJ9.LuzspF2JLyMGxFacsacQcA&zoomwheel=true&fresh=true#14.4/30.35285/76.36712">
  </link>
  <title>THAPAR MAP</title>
  <style>
    
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100vh;
      width: 100%;
    }
  </style>
  <script src="/static/JS/map.js" defer></script>
</head>
<body>
  <div id='map'></div>
</body>
</html>