<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shops On Campus</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/CSS/facilities.css">
    <div class="header" id="header"></div>
    <!-- <script>
        $(function () {
            $("#header").load("./header.html");
        }); 
    </script> -->
</head>

<body>


    <!-- partial:index.partial.html -->
    <section class="dark">
        <div class="container py-4">
            <h1 class="h1_text-center" id="pageHeaderTitle">Shops On Campus</h1>

            <article class="postcard dark blue">
                                <!-- <img src="Background.jpg" alt="hi">	 -->
                    <img class="postcard__img" src="/static/COS.jpg" alt="Image Title" />
                </a>
                <div class="postcard__text">
                    <h1 class="postcard__title blue"><a href="#">COS</a></h1>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">
                        COS complex serves as a bustling hub for students. It presents a contemporary marketplace
                        atmosphere for students on campus, offering an array of facilities and services. </div>

                </div>
            </article>

            <article class="postcard2 dark red">
            
                    <img class="postcard2__img" src="/static/streat.jpg" alt="Image Title" />
                </a>
                <div class="postcard2__text">
                    <h1 class="postcard2__title red"><a href="#">Streat</a></h1>

                    <div class="postcard2__bar"></div>
                    <div class="postcard2__preview-txt">Streat is the iconic hangout spot on the campus. It houses a
                        diverse range of outlets. </div>

                </div>
            </article>
            <article class="postcard3 dark green">
            
                    <img class="postcard3__img" src="/static/G_Block.jpg" alt="Image Title" />
                </a>
                <div class="postcard3__text">
                    <h1 class="postcard3__title green"><a href="#">G-Block</a></h1>

                    <div class="postcard3__bar"></div>
                    <div class="postcard3__preview-txt">
                        Here, you can find fresh fruit juices , mouth-watering tikkas,rolls and many more delectable
                        snacks. </div>

                </div>

            </article>
            <article class="postcard4 dark blue">
            
                    <img class="postcard4__img" src="/static/aaahar.jpg" alt="Image Title" />
                </a>
                <div class="postcard4__text">
                    <h1 class="postcard4__title blue"><a href="#">Aahar Point</a></h1>
                    <div class="postcard4__bar"></div>
                    <div class="postcard42__preview-txt">
                        It is well-known for kulche chole and flavorful chaaps with a cup of tea . </div>

                </div>
            </article>
            <article class="postcard3 dark green">
            
                    <img class="postcard3__img" src="" alt="Image Title" />
                </a>
                <div class="postcard3__text">
                    <h1 class="postcard3__title green"><a href="/static/waterfront.jpg ">Waterfront Cafe</a></h1>

                    <div class="postcard3__bar"></div>
                    <div class="postcard3__preview-txt">
                        It is perfect to get rid of your mid- lecture hunger.You can have the access to the cafeteria
                        using the hungerbox app.
                    </div>

                </div>

            </article>
            

        </div>
    </section>





    </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
    <script src="/static/JS/facilities.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <div class="footer" id="footer"></div>
    <script>
        $(function () {
            $("#footer").load("./footer.html");
        }); 
    </script>

    <!-- partial -->

</body>

</html>