<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TECH</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel="stylesheet" href="/static/CSS/facilities.css">
</head>
<body>

    
<!-- partial:index.partial.html -->
<section class="dark">
	<div class="container py-4">
		<h1 class="h1_text-center" id="pageHeaderTitle">TECH WORKSHOPS</h1>
		
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#"> 
                <!-- <img src="Background.jpg" alt="hi">	 -->
				<img class="postcard__img" src="/static/Webdev.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">WEB DEVELOPMENT</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> Learn the process of building a functional website in  fun and interactive sessions</div>
				
			</div>
			</article>
		
		<article class="postcard2 dark red">
			<a class="postcard2__img_link" href="#">
				<img class="postcard2__img" src="/static/blender.jpg" alt="Image Title" />	
			</a>
			<div class="postcard2__text">
				<h1 class="postcard2__title red"><a href="#">BLENDER</a></h1>
				
				<div class="postcard2__bar"></div>
				<div class="postcard2__preview-txt">Take a step into the exciting world of 3D graphic designing</div>
				
			</div>
		</article>
		<article class="postcard3 dark green">
			<a class="postcard3__img_link" href="#">
				<img class="postcard3__img" src="/static/Appdev.jpg" alt="Image Title" />
			</a>
			<div class="postcard3__text">
				<h1 class="postcard3__title green"><a href="#">APP DEVELOPMENT</a></h1>
				
				<div class="postcard3__bar"></div>
				<div class="postcard3__preview-txt">Learn the procedure of developing apps and other applications. </div>
				
			</div>
			
				</article>
				<article class="postcard4 dark blue">
					<a class="postcard4__img_link" href="#">
						<img class="postcard4__img" src="/static/iot.jpg" alt="Image Title" />
					</a>
					<div class="postcard4__text">
						<h1 class="postcard4__title blue"><a href="#">IOT(INTERNET OF THINGS)
						</a></h1>
						<div class="postcard4__bar"></div>
						<div class="postcard42__preview-txt">Learning the networking of physical structures electronically embedded to help in communication with the external environment.</div>
						
					</div>
					</article>
                <article class="postcard3 dark green">
                    <a class="postcard3__img_link" href="#">
                        <img class="postcard3__img" src="/static/finance.jpg" alt="Image Title" />
                    </a>
                    <div class="postcard3__text">
                        <h1 class="postcard3__title green"><a href="#">FINANCE</a></h1>
                            
                        <div class="postcard3__bar"></div>
                        <div class="postcard3__preview-txt">Learning the basics of Financial Education and Money Management</div>
                            
                        </div>
                        
                </article>
            </article>
            <article class="postcard4 dark blue">
                <a class="postcard4__img_link" href="#">
                    <img class="postcard4__img" src="/static/enterpreneur.jpg" alt="Image Title" />
                </a>
                <div class="postcard4__text">
                    <h1 class="postcard4__title blue"><a href="#">ENTERPRENEURSHIP
                    </a></h1>
                    <div class="postcard4__bar"></div>
                    <div class="postcard42__preview-txt">Take a step into the life an Enterpreneur and learn effective Goal Setting and proper Time Management</div>
                    
                </div>
                </article>
                <article class="postcard3 dark green">
                    <a class="postcard3__img_link" href="#">
                        <img class="postcard3__img" src="/static/AiMl.png" alt="Image Title" />
                    </a>
                    <div class="postcard3__text">
                        <h1 class="postcard3__title green"><a href="#">AI and ML</a></h1>
                            
                        <div class="postcard3__bar"></div>
                        <div class="postcard3__preview-txt">Take a step to an exciting journey into the world of AI and ML and unlock the potential of these technologies in future </div>
                            
                        </div>
                        
                </article>  
		
	</div>
</section>


		

		
	</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js" ></script>
<script src="/static/JS/facilities.js"></script>

<!-- partial -->
  
</body>
</html>
