<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>NON-TECH</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/static/CSS/facilities.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap" rel="stylesheet">
</head>

<body>


	<!-- partial:index.partial.html -->
	<section class="dark">
		<div class="container py-4">
			<h1 class="h1_text-center" id="pageHeaderTitle">NON-TECH WORKSHOPS</h1>

			<article class="postcard2 dark blue">
				<a class="postcard2__img_link" >
					<img class="postcard2__img" src="#" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title blue">Kalamanch Acting</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">This workshop conducts various activities pertaining to drama
						and the skill of acting. This workshop is for those drama enthusiasts who show their love for
						the stage.</div>
				</div>
			</article>

			<article class="postcard2 dark red">
				<a class="postcard2__img_link" >
					<img class="postcard2__img" src="/static/groove.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title red">Groove</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">Workshop conducted for those students who can rhythmically and
						express their emotions through western form of dance.</div>
				</div>
			</article>
			<article class="postcard2 dark green">
				<a class="postcard2__img_link" >
					<img class="postcard2__img" src="/static/versee.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title green">Verse</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">
						This workshop is for those students strung up on words, images and the rhythm of Poetry. This
						includes Rap Writing, Storytelling & Poetry.</div>
				</div>
			</article>
			<article class="postcard2 dark blue">
				<a class="postcard2__img_link" >
					<img class="postcard2__img" src="/static/music.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title blue">Music</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">
						This workshop is for the music lovers who learn the pure expression of sound and melodies to
						produce the art of music.</div>
				</div>
			</article>
			<article class="postcard3 dark green">
				<a class="postcard3__img_link" >
					<img class="postcard3__img" src="/static/aakriti.jpg" alt="Image Title" />
				</a>
				<div class="postcard3__text">
					<h1 class="postcard3__title green">AAKRITI</h1>

					<div class="postcard3__bar"></div>
					<div class="postcard3__preview-txt">This workshop is for the creative thinkers who can paint their
				ideas by using their limitless imagination.</div>

				</div>

			</article>
			</article>
			<article class="postcard4 dark blue">
				<a class="postcard4__img_link" >
					<img class="postcard4__img" src="/static/uddari.jpg" alt="Image Title" />
				</a>
				<div class="postcard4__text">
					<h1 class="postcard4__title blue">UDDARI</h1>
					<div class="postcard4__bar"></div>
					<div class="postcard42__preview-txt">Workshop conducted for those students who can rhythmically and
						express their emotions through Punjabi Dance form.</div>

				</div>
			</article>
			<article class="postcard3 dark green">
				<a class="postcard3__img_link" >
					<img class="postcard3__img" src="/static/digital.jpg" alt="Image Title" />
				</a>
				<div class="postcard3__text">
					<h1 class="postcard3__title green">Digital Arts</h1>

					<div class="postcard3__bar"></div>
					<div class="postcard3__preview-txt">This workshop is for those who have highly imaginative minds and
						have the ability to convert reality into virtuality.</div>

				</div>

			</article>
			<article class="postcard2 dark red">
				<a class="postcard2__img_link" >
					<img class="postcard2__img" src="/static/innaayat.jpg" alt="Image Title" />
				</a>
				<div class="postcard2__text">
					<h1 class="postcard2__title red">Innaayat</h1>

					<div class="postcard2__bar"></div>
					<div class="postcard2__preview-txt">A workshop that celebrates grace and agility.This workshop has
						been designed to teach you the different forms of classical dance.</div>

				</div>
			</article>

			<article class="postcard dark blue">
				<a class="postcard__img_link" >
					<!-- <img src="Background.jpg" alt="hi">	 -->
					<img class="postcard__img" src="/static/cogitation.jpg" alt="Image Title" />
				</a>
				<div class="postcard__text">
					<h1 class="postcard__title blue">Cogitation</h1>
					<div class="postcard__bar"></div>
					<div class="postcard__preview-txt"> This workshop is for those who have the drive and ability to
						convey their ideas while also inspiring and influencing the audience through their speaking
						skills.</div>
				</div>
			</article>


		</div>
	</section>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"></script>
	<script src="/static/JS/facilities.js"></script>

	<!-- partial -->

</body>

</html>