<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frosh</title>
    <link rel="stylesheet" href="/static/CSS/mainpage4th.css"
</head>
<body>
    <div class="line"></div>
  <section class="our_identity">
    <div class="identity-container">
      <div class="frosh-heading">
        <span>F</span>
        <span>R</span>
        <span>O</span>
        <span>S</span>
        <span>H</span>
      </div>
      <div class="identity-content">
        <div class="text">
          <h4>Family</h4>
          <p>
            Frosh aims to build a sense of faith; family amongst the three
            pillars holding an institute together with the faculty, the
            seniors, and the freshers.
          </p>
        </div>
        <div class="text">
          <h4>Reliable</h4>
          <p>
            Frosh provides a reliable support system to hold your hand through
            the tough times that one might face.
          </p>
        </div>
        <div class="text">
          <h4>Optimistic</h4>
          <p>
            Frosh believes in an optimistic approach while dealing with the
            challenges one has to face in life.
          </p>
        </div>
        <div class="text">
          <h4>Spirited</h4>
          <p>
            Frosh creates an energetic and spirited environment for the
            freshers for them to comfortably express their talents.
          </p>
        </div>
        <div class="text">
          <h4>Humble</h4>
          <p>
            Frosh lays out a humble atmosphere for the freshers to approach
            them without hesitation.
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="line"></div>
  <script src="/static/JS/mainpage4th.js"
</body>
</html>