<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Frosh</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/CSS/mainpage3rd.css" type="text/css" media="all">
  </head>
  <body>
    <div class="line"></div>

    <section class="start_section">
      <div class="start">
        <!-- <div class="inner-container inner-container-1">
          <a href="./events_old.html" class="starter">
            <div class="inner-inner-container">
              <div class="top-section">
                <h1>
                  EVENTS
                </h1>
                
              </div>
            </div>
          </a>
        </div> -->
        <div class="vertical_line"></div>
        <div class="inner-container inner-container-2">
          <a href="./splitworks.html" class="starter">
            <div class="inner-inner-container">
              <div class="top-section">
                <h1>
                  WORKSHOPS
                </h1>
                <!-- <p>MDCLI</p> -->
              </div>
            </div>
          </a>
        </div>
        <div class="vertical_line"></div>
        <div class="inner-container inner-container-3">
          <a href="./Starter_Kit.html" class="starter">
            <div class="inner-inner-container">
              <div class="top-section">
                <h1>
                  STARTER <br> KIT
                </h1>
                <!-- <p>MDCXVII</p> -->
              </div>
            </div>
          </a>
        </div>
        <div class="vertical_line"></div>
        <!-- <div class="inner-container inner-container-4">
          <a href="./soc.html" class="starter">
            <div class="inner-inner-container">
              <div class="top-section">
                <h1>
                  SOCIETIES
                </h1>
                
              </div>
            </div>
          </a>
        </div> -->
      </div>
      <div class="vertical_line"></div>
    </section>
    <br>
    <br>
    <div class="line"></div>
    <script src="/static/JS/mainpage3rd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scrollbar/8.7.4/smooth-scrollbar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <div class="footer" id="footer"></div>
      <script>
        $(function () {
          $("#footer").load("/templates/footer.html");
        }); 
      </script>
  </body>

</html>