<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Life in Patiala</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/CSS/facilities.css">
  <!-- <div class="header" id="header"></div>
  <script>
      $(function () {
          $("#header").load("./header.html");
      }); 
  </script> -->
</head>
<body>

    
<!-- partial:index.partial.html -->
<section class="dark">
	<div class="container py-4">
		<h1 class="h1_text-center" id="pageHeaderTitle">Life In Patiala</h1>
		
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#"> 
                <!-- <img src="Background.jpg" alt="hi">	 -->
				<img class="postcard__img" src="/static/Qila_Mubarak.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Qila Mubarak</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> 
					Historic Landmark museum of Patiala, 7 km from TIET, 15 mins.</div>
				
			</div>
			</article>
		
		<article class="postcard2 dark red">
			<a class="postcard2__img_link" href="#">
				<img class="postcard2__img" src="/static/Sheesh Mahal.jpg" alt="Image Title" />	
			</a>
			<div class="postcard2__text">
				<h1 class="postcard2__title red"><a href="#">Sheesh Mahal</a></h1>
				
				<div class="postcard2__bar"></div>
				<div class="postcard2__preview-txt">Enchanting palace with mesmerizing mirror work, 8 km from TIET, 14 mins.</div>
				
			</div>
		</article>
		<article class="postcard3 dark green">
			<a class="postcard3__img_link" href="#">
				<img class="postcard3__img" src="/static/Baradari gardens.jpg" alt="Image Title" />
			</a>
			<div class="postcard3__text">
				<h1 class="postcard3__title green"><a href="#">Baradari Gardens</a></h1>
				
				<div class="postcard3__bar"></div>
				<div class="postcard3__preview-txt">
					Exotic flora with noticable fort,fern-house,4.9 km from TIET, 11 mins.</div>
				
			</div>
			
				</article>
				<article class="postcard4 dark blue">
					<a class="postcard4__img_link" href="#">
						<img class="postcard4__img" src="/static/Gurdwara-Dukhniwaran-Sahib-Patiala-sarowar-sahib.jpg" alt="Image Title" />
					</a>
					<div class="postcard4__text">
						<h1 class="postcard4__title blue"><a href="#">Gurudwara Dukhniwaran Sahib
						</a></h1>
						<div class="postcard4__bar"></div>
						<div class="postcard42__preview-txt">Historic Gurudwara with Soothing, healing atmosphere and blessed Sarovar, 3.8 km from TIET, 8 mins.</div>
						
					</div>
					</article>
                <article class="postcard3 dark green">
                    <a class="postcard3__img_link" href="#">
                        <img class="postcard3__img" src="/static/kali-mata-mandir-patiala-temples-45n19oh1s7.jpg" alt="Image Title" />
                    </a>
                    <div class="postcard3__text">
                        <h1 class="postcard3__title green"><a href="#">Kali Mata Mandir</a></h1>
                            
                        <div class="postcard3__bar"></div>
                        <div class="postcard3__preview-txt">
							This place serves as worship spot and holds religious importance,4.7 km, 12 mins.</div>
                            
                        </div>
                        
                </article>
            </article>
            <article class="postcard4 dark blue">
                <a class="postcard4__img_link" href="#">
                    <img class="postcard4__img" src="/static/omaxe_mall.jpg" alt="Image Title" />
                </a>
                <div class="postcard4__text">
                    <h1 class="postcard4__title blue"><a href="#">Omaxe Mall
                    </a></h1>
                    <div class="postcard4__bar"></div>
                    <div class="postcard42__preview-txt"> Shopping, cinema, gaming:Omaxe Mall,6.2 km from TIET, 14 mins.</div>
                    
                </div>
                </article>
                <article class="postcard3 dark green">
                    <a class="postcard3__img_link" href="#">
                        <img class="postcard3__img" src="/static/leela bhawan.jpg" alt="Image Title" />
                    </a>
                    <div class="postcard3__text">
                        <h1 class="postcard3__title green"><a href="#">Leela Bhawan</a></h1>
                            
                        <div class="postcard3__bar"></div>
                        <div class="postcard3__preview-txt"> Shops, eateries, tech services:Leela Bhawan, 4.5 km from TIET, 11 mins.</div>
                            
                        </div>
                        
                </article> 
				<article class="postcard3 dark green">
                    <a class="postcard3__img_link" href="#">
                        <img class="postcard3__img" src="/static/vrc_city_mall.jpg" alt="Image Title" />
                    </a>
                    <div class="postcard3__text">
                        <h1 class="postcard3__title green"><a href="#">VRC City Mall</a></h1>
                            
                        <div class="postcard3__bar"></div>
                        <div class="postcard3__preview-txt"> Movies, Reliance Mall convenience:Vrc City Mall,10.2 km from TIET, 22 mins
						</div>
                            
                        </div>
                        
                </article>  
		        <article class="postcard3 dark green">
                    <a class="postcard3__img_link" href="#">
                        <img class="postcard3__img" src="/static/raj_kamal_square.jpg" alt="Image Title" />
                    </a>
                    <div class="postcard3__text">
                        <h1 class="postcard3__title green"><a href="#">Raj Kamal Square</a></h1>
                            
                        <div class="postcard3__bar"></div>
                        <div class="postcard3__preview-txt">Shopping, dining hub:Raj Kamal Square,3.7 km from TIET, 10 mins.</div>
                            
                        </div>
                        
                </article>  
	</div>
</section>



		

		
	</div>
</section>
      <div class="footer" id="footer"></div>
      <script>
          $(function () {
              $("#footer").load("./footer.html");
          }); 
      </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js" ></script>
<script src="/static/JS/Patiala.js"></script>

<!-- partial -->
  
</body>
</html>
