<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Workshops</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/CSS/splitworks.css">
  <div class="header" id="header"></div>
   <script>
      $(function () {
          $("#header").load("./header.html");
      }); 
  </script>  

  
</head>
<body>
  <main class="page-content">
    <div class="cards">
      <div class="content">
        <h2 class="title">Non-Tech Workshops</h2>
        <p class="copy">Non-tech workshops provide valuable opportunities for individuals to explore creative, artistic, and personal development pursuits, fostering a well-rounded and enriching learning experience.</p>
        <button class="btns"><a href="/templates/index_NT.html">View More</a></button>
      </div>
    </div>
    <div class="cards">
      <div class="content">
        <h2 class="title">Tech Workshops</h2>
        <p class="copy">Tech workshops offer an empowering platform for participants to delve into cutting-edge technologies, hands-on learning, and problem-solving skills, unlocking their potential in the ever-evolving digital world.</p>
        <button class="scannr"><a href="/scanner.">View More</a></button>
      </div>
    </div>
  </main>
</body>
</html>