<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Starter Kit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/static/CSS/starter_kit.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="flex-slider"><a class="slide slide-1" href="/templates/before.html">
      <div class="slide-content">
        <h3 class="slide-header">. Academics</h3>
        <div class="slide-body">
          <p>TIET is the sanctum
            sanctorum of quality
            education.</p>
        </div>
      </div></a><a class="slide slide-2" href="/templates/facilities.html">
      <div class="slide-content">
        <h3 class="slide-header">. Facilities</h3>
        <div class="slide-body">
          <p>You'll be dazzled and bamboozled
            with all these facilities that wonder you.</p>
        </div>
      </div></a><a class="slide slide-3" href="/templates/foodjoints.html">
      <div class="slide-content">
        <h3 class="slide-header">. FoodJoints</h3>
        <div class="slide-body">
          <p>Mid-class cravings?Skipped lunch?
            These places have got you covered.
            *Chef's Kiss </p>
        </div>
      </div></a><a class="slide slide-4" href="/templates/patiala.html">
      <div class="slide-content">
        <h3 class="slide-header">. Patiala</h3>
        <div class="slide-body">
          <p>A quick peer into famous historical landmarks in the city of
            Patiala. </p>
        </div>
      </div></a></div>
</div>
<!-- partial -->
  
</body>
</html>
