<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MENTORS Page</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    
  </head>
  <body>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <!-- <div>Faculty Advisors</div><br> -->
    <section class="hero-section">
      <div class="team_role">Mentor</div>
      <br>
      <div class="card-grid" id="osc">
          <a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG-20230704-WA0094-AakritiJaluria.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Aakriti Jaluria COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AbhayBagla_ComputerEngineering-AbhayBagla.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Abhay Bagla COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Abhijay_Duggal_COE-AbhijayDuggal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Abhijay Duggal COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AbhinavGupta_ECE-AbhinavGupta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Abhinav Gupta ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Aditi_COE-AditiSinha.JPG)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Aditi Sinha COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Adrija_Sen_Gupta.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Adrija Sengupta COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Akarsh_Srivastava-removebg-preview-AkarshSrivastava.png)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Akarsh Srivastava COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ananta COBS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/ananya.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ananya Bhardwaj ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AnujPathak.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anuj Pathak COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_20230704_012307-AnoushkaDuggal.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anoushka Duggal COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG-20230706-WA0015-AnshGupta.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ansh Gupta MEE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Anmol_ENC-AnmolDeepKaur.png);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anmol Deep Kaur ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AnushkaTIwari_ENC-AnushkaTiwari.PNG)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anushka Tiwari ENC</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Apoorv_ECE-ApoorvYadav.JPG)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Apoorv Yadav ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG-20221217-WA0028~2-ArpitGoel.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Arpit Goel CSBS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AtharvaPareek_ComputerEngineering-min-AtharvaPareek.JPG)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Atharva Pareek COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG20230628144814-BhavneetKaur.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Bhavneet Kaur</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/CharviAggarwal_TSLAS-CHARVIAGGARWAL.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Charvi Aggarwal TSLAS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_5652-DakshSharma.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Daksh Sharma COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/PhotoRoom-20230704_023204-DeepitGarg.png);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Deepit Garg ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/DevanshVerma_COE-DevanshVerma.JPG);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Devansh Verma COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/DIYA.png);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Diya Wadhawan TSLAS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_2051-1-HritishMahajan.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Hritish Mahajan CSBS</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/9BFF8F78-2052-4CDA-BA86-029143CA8216-IshaanaAli.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ishaana Ali ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Jiyakumar_chemical-JiyaKumar.PNG);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Jiya Kumar CHE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/WhatsApp_Image_2023-04-04_at_20.58.58-removebg-preview-JaiRajSinghAhluwalia.png);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Jai Raj Singh Ahluwalia CIE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/JasnoorSingh_COPC-JasnoorSingh.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Jasnoor Singh COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Sun__12_Feb_2023_at_1244_PM-removebg-KetanMaini.png)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ketan Maini COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/KHUSHI_YADAV_EEC-KhushiYadav.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Khushi Yadav EEC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Kirti Bhat BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/5C819E57-6603-4845-A553-B987BE1FE324-KritiGoyal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Kriti Goyal BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/_MG_6913-KshitizArora.JPG)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Kshitiz Arora ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/MaanviBansal\ .jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Maanvi Bansal ELE</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/MehakpreetKaur_COPC-MehakpreetKaur.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Mehakpreet Kaur COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_6555-NamanArora.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Naman Arora ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/NavanshKrishnaGoswami_ENC-NavanshKrishnaGoswami.jpg);"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Navansh Krishna Goswami ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_6456-NavyaaGupta.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Navyaa Gupta COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/NIPUN.png)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Nipun Jain COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_4172-NusaibulHasan.png);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Nusaibul Hasan EIC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/OjasKumarSingh_COE-OjasKumarSingh.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ojas Kumar Singh COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/FE58C2F3-36FF-4E00-8894-822E629E8972-PanchamAgarwal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Pancham Agarwal COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/FullSizeRender-ParthKaushish.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Parth Kaushish COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_3837-ParvNarula.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Parv Narula ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/F213FEBC-FB45-4617-8901-B52671EF1522-PriyalSharma.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Priyal Sharma COE</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Screenshot_20230704-161741_Photos-PrishaSharma.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Prisha Sharma COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_4437-PoorviPratap.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Poorvi Pratap BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/PraneethSimon_COPC-PraneethSimonKatta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Praneeth Simon Katta COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Prachi_Biotech-PrachiChoudhary.jpg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Prachi Choudhary BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG-20230530-WA0013-PranayMathur.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Pranay Mathur COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG-20230212-WA0174-RiyaGoel.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Riya Goel BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/SakshiRana_ENC-SakshiRana.png);background-position: center;margin-top: 50px;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Sakshi Rana ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Sarthak-SarthakGupta.jpg);background-position: center;margin-top: 50px;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Sarthak Gupta</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/ShivamKumar.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Shivam Kumar ECE</h3>
            </div>
          </a>

<a class="card"  >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/markup_1000021021-ShreyaGakhar.png)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Shreya Gakhar CSBS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Sia Duggal ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/soham)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Soham Bhardwaj BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/2A2CFE74-1030-4CAE-A710-1A4DE2B74BC3-SomilKumar.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Somil Kumar COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/SOMYA.jpg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Somya Bansal COE</h3>
            </div>
          </a>


<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Utkarsh.png)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Utkarsh Agarwal CSBS</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Yashik_COPC-YashikGarg.png);margin-top: 40px;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Yashik Garg COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/yashika_tslas-YASHIKAGARG.jpg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Yashika Garg TSLAS</h3>
            </div>
          </a>

         
        <div>
      </section>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
      <div class="header" id="header"></div>
      <script>
          $(function () {
              $("#header").load("./footer.html");
          }); 
      </script>
	<!-- <script src="index.js"></script> -->
  </body>
</html>