<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MENTORS Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
  </head>
  <body>
    <div class="pyro">
      <div class="before"></div>
      <div class="after"></div>
    </div>
    <!-- <div>Faculty Advisors</div><br> -->
    <section class="hero-section">
      <div class="team_role">Mentor</div>
      <br>
      <div class="card-grid" id="osc">
          <a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img-20230704-wa0094-aakritijaluria.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Aakriti Jaluria COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/abhaybagla_computerengineering-abhaybagla.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Abhay Bagla COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/Abhijay_Duggal_COE-AbhijayDuggal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Abhijay Duggal COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AbhinavGupta_ECE-AbhinavGupta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Abhinav Gupta ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/aditi_coe-aditisinha.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Aditi Sinha COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/adrija_sen_gupta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Adrija Sengupta COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/akarsh_srivastava-removebg-preview-akarshsrivastava.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Akarsh Srivastava COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/ananta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ananta COBS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/ananya.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ananya Bhardwaj ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/AnujPathak.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anuj Pathak COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img_20230704_012307-anoushkaduggal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anoushka Duggal COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img-20230706-wa0015-anshgupta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ansh Gupta MEE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/anmol_enc-anmoldeepkaur.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anmol Deep Kaur ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/anushkatiwari_enc-anushkatiwari.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Anushka Tiwari ENC</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/apoorv_ece-apoorvyadav.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Apoorv Yadav ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img-20221217-wa0028~2-arpitgoel.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Arpit Goel CSBS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/atharvapareek_computerengineering-min-atharvapareek.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Atharva Pareek COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img20230628144814-bhavneetkaur.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Bhavneet Kaur</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/charviaggarwal_tslas-charviaggarwal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Charvi Aggarwal TSLAS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img_5652-dakshsharma.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Daksh Sharma COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/deepit_garg.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Deepit Garg ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/devanshverma_coe-devanshverma.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Devansh Verma COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/diya.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Diya Wadhawan TSLAS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img_2051-1-hritishmahajan.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Hritish Mahajan CSBS</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/9bff8f78-2052-4cda-ba86-029143ca8216-ishaanaali.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ishaana Ali ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/jiyakumar_chemical-jiyakumar.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Jiya Kumar CHE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/whatsapp_image_2023-04-04_at_20.58.58-removebg-preview-jairajsinghahluwalia.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Jai Raj Singh Ahluwalia CIE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/jasnoorsingh_copc-jasnoorsingh.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Jasnoor Singh COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/sun__12_feb_2023_at_1244_pm-removebg-ketanmaini.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ketan Maini COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/khushi_yadav_eec-khushiyadav.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Khushi Yadav EEC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/kirti_bhatt.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Kirti Bhat BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/5C819E57-6603-4845-A553-B987BE1FE324-KritiGoyal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Kriti Goyal BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/_mg_6913-kshitizarora.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Kshitiz Arora ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/maanvibansal\ .jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Maanvi Bansal ELE</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/mehakpreetkaur_copc-mehakpreetkaur.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Mehakpreet Kaur COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_6555-NamanArora.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Naman Arora ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/navanshkrishnagoswami_enc-navanshkrishnagoswami.jpeg);"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Navansh Krishna Goswami ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img_6456-navyaagupta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Navyaa Gupta COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/nipun.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Nipun Jain COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img_4172-nusaibulhasan.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Nusaibul Hasan EIC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/OjasKumarSingh_COE-OjasKumarSingh.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Ojas Kumar Singh COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/FE58C2F3-36FF-4E00-8894-822E629E8972-PanchamAgarwal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Pancham Agarwal COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/FullSizeRender-ParthKaushish.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Parth Kaushish COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/IMG_3837-ParvNarula.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Parv Narula ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/F213FEBC-FB45-4617-8901-B52671EF1522-PriyalSharma.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Priyal Sharma COE</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/screenshot_20230704-161741_photos-prishasharma.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Prisha Sharma COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img_4437-poorvipratap.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Poorvi Pratap BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/PraneethSimon_COPC-PraneethSimonKatta.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Praneeth Simon Katta COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/prachi_biotech-prachichoudhary.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Prachi Choudhary BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img-20230530-wa0013-pranaymathur.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Pranay Mathur COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/img-20230212-wa0174-riyagoel.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Riya Goel BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/sakshirana_enc-sakshirana.jpeg);background-position: center;margin-top: 50px;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Sakshi Rana ENC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/sarthak-sarthakgupta.jpeg);background-position: center;margin-top: 50px;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Sarthak Gupta</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/ShivamKumar.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Shivam Kumar ECE</h3>
            </div>
          </a>

<a class="card"  >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/markup_1000021021-shreyagakhar.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Shreya Gakhar CSBS</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/sia_duggal.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Sia Duggal ECE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/soham)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Soham Bhardwaj BIOTECH</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/2a2cfe74-1030-4cae-a710-1a4de2b74bc3-somilkumar.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Somil Kumar COE</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/somya.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Somya Bansal COE</h3>
            </div>
          </a>


<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/utkarsh.jpeg)"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Utkarsh Agarwal CSBS</h3>
            </div>
          </a>

<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/yashik_copc-yashikgarg.jpeg);margin-top: 40px;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Yashik Garg COPC</h3>
            </div>
          </a>
<a class="card" >
            <div class="card__background" loading="lazy" style="background-image: url(/static/Team-Photos/yashika_tslas-yashikagarg.jpeg);background-position: center;"></div>
            <div class="card__content">
              <!-- <p class="card__category">Category</p> -->
              <h3 class="card__heading">Yashika Garg TSLAS</h3>
            </div>
          </a>

         
        <div>
      </section>
      <div class="footer" id="footer"></div>
      <script>
          $(function () {
              $("#footer").load("./footer.html");
          }); 
      </script>
	<!-- <script src="index.js"></script> -->
  </body>
</html>