<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frosh</title>
    <link rel="stylesheet" href="/static/CSS/teamstyle.css">
</head>
<body>
    <section id="team">
        <div class="container">
          <div class="title">
            <h1>Our Team</h1>
          </div>
          <div class="right-side">
            <p class="team">
              A productive environment is created by carrying out these duties with the utmost energy and motivation each
              day resulting in the formation of a close-knit team. A team always succeeds in reaching its goal when all
              members work in cooperation to complete their allocated tasks.
              <br>
              By planning several events for the freshmen's acclimatization to the new environment, including both technical
              and non-technical skills, FROSH 2023, a team of 62 students, hopes to help the freshmen make a smooth
              transition from their school life to the college habits.
            </p>
    
            <div class="line"></div>
          </div>
        </div>
    <div class="box">
      <div class="item">
        <label>Faculty</label>
        <!-- <p>"The guiding stars, illuminating our path to success and providing unwavering support as we navigate the challenges ahead."</p> -->
      </div>
      <div class="item">
      <label>Core</label>
        <!-- <p>An English-born American computer scientist, essayist, entrepreneur, venture capitalist.</p> -->
      </div>
      <div class="item">
        <label>Mentor</label>
        <!-- <p>An American singer, songwriter, and dancer. One of the most significant cultural figures of the 20th century</p> -->
      </div>
    </div>
         <div class="line"></div>
       </section>
      
</body>
</html>