<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frosh24</title>
    <link rel="stylesheet" href="video.css">
</head>

<body>
    <div class="line"></div>
    <section class="about-section" id="about">
        <div class="about-heading title">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Y6hUUcRlX_0?start=148"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="about-content">
            <p class="navig-para">
                THE LOGO REVEAL<br>
                Life becomes truly amazing because of the happy moments we experience. Frosh 2022 helps us remember the
                brief
                memories from the past. These memories can be found in the small but valuable things that we remember
                and
                cherish in our minds and hearts. Presenting to you, the Official Aftermovie which summmarises all the
                events and
                memories of Frosh'23.
            </p>
        </div>
    </section>
    <div class="line"></div>
</body>

</html>
